{% extends "VivaitUserBundle::layout.html.twig" %}
{% block sectiontitle %}<i class="fa fa-lock page-header-icon"></i> Two-factor Authentication{% endblock %}
{% block sectionlinks %}<a href="" class="btn btn-flat btn-default">Back to Security</a>{% endblock %}
{% block section %}
    <div id="two-factor" class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Settings</span>
        </div>
        <div class="panel-body">

            {% if two_factor.code is not empty%}
                <p>Scan this barcode with your phone, or manually enter the following code: <code id="two-factor-code">{{ two_factor.code }}</code></p>
                <img id="two-factor-qr" src="{{ two_factor.qr }}"/>
            {% else %}

            {% endif %}

            {% if two_factor.code is empty %}
                <p><strong>Enable two-factor code</strong></p>
            {% else %}
                <hr class="panel-wide">
                <p><strong>Generate new two-factor code</strong></p>

            {% endif %}

            {{ form(form.generate) }}

            {% if two_factor.code is not empty %}
                <hr class="panel-wide">
                <p><strong class="text-danger">Disable two-factor</strong></p>

                {{ form(form.disable) }}
            {% endif %}
        </div>
    </div>
{% endblock section %}

{% block foot_script %}
    {{ parent() }}
    <script>
        init.push(function () {
            $(".expands").expandingInput({
                target: 'input[type="password"]',
                hidden_content: '> div'
            });

        });
    </script>
{% endblock %}