{% extends "VivaitUserBundle::layout.anon.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block sectiontitle %}Login{% endblock %}




{% block section %}

    {% if error %}
        <div id="errors" class="alert alert-dark" data-animate="true" style="">
            {{ error.message|trans }}
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" id="login">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
            <input class="form-control input-lg" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}"/>
        </div>

        <div class="form-group">
            <input class="form-control input-lg" type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}"/>
        </div>

        <div class="form-group">
            <input class="btn btn-primary btn-block btn-lg btn-flat" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label class="checkbox-inline">
                    <input class="px" type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked"/>
                    <span class="lbl">{{ 'security.login.remember_me'|trans }}</span>
                </label>
            </div>
        </div>
    </form>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}